// colors
$black: rgb(0, 0, 0) !default;
$dark: rgb(32, 33, 37) !default;
$white: rgb(255, 255, 255) !default;
$smoke: rgb(221, 221, 221) !default;
$red: rgb(216, 58, 58) !default;
$blue: rgb(89, 126, 230) !default;
$green: rgb(67, 172, 58) !default;